@import url('https://fonts.googleapis.com/css?family=Roboto');

@import 'font.css';

body {
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--common-background-color);
    color: var(--gray-text-color);
}

:root {
    --gray-text-color: #414A64;
    --common-background-color: #fff4f3;
}
